@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', sans-serif;
}
li, a, button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}
header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 20px 10%;
	background-color: #24252a;
}
.logo {
	cursor: pointer;
	margin-right: auto;
	height: 20px;
	width: 70px;
}
.nav_links {
	list-style: none;
}
.nav_links li {
	display: inline-block;
	padding: 0px 20px;
}
.nav_links li a:hover {
	color: #0088a9;
}
.line {
	background-color: white;
	margin: 0 5px;
}
button {
	margin-left: 20px;
	padding: 9px 25px;
	background-color: rgba(0,136,169,1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3w ease 0s;
}
button:hover {
	background-color: rgba(0,136,169,0.8);
}

section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}
section p {
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}
.banner-area {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}
.banner-area .banner-img {
	background-image: url('/static/img/home.jpg');
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	z-index: -1;
}
.banner-area .banner-img:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
}
.banner-area h1 {
	margin-bottom: 15px;
	font-size: 65px;
	font-family: 'Montserrat', sans-serif;
}
.banner-area h3 {
	margin-bottom: 40px;
	font-size: 25px;
}
.banner-area a.banner-btn {
	padding: 15px 35px;
	background: crimson;
	border-radius: 50px;
	text-transform: uppercase;
}
.banner-btn:hover {
	transform: scale(1.05);
	box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}
.about-btn:hover {
	transform: scale(1.05);
	box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}
@media (max-width: 800px) {
	.banner-area .banner-img{
		min-height: 600px;
	}
	.banner-area h1 {
		font-size: 32px;
	}
	.banner-area h3 {
		font-size: 20px;
	}
	.banner-area a .banner-btn {
		padding: 15px 40px;
	}
}
.section-title {
	font-family: 'Montserrat', sans-serif;
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}
.card {
	width: 20%;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 50px;
	transition: 0.3s;
	margin-top: 20px;
}
.card-product {
	width: 20%;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 150px;
	transition: 0.3s;
	margin-top: 20px;
}
.card-header {
	text-align: center;
	padding: 50px 10px;
	background: linear-gradient(to right, #ff416c, #ff4b2b);
	color: #fff;
}
.card-body {
	padding: 30px 20px;
	text-align: center;
	font-size: 18px;
}
.card-body .card-btn {
	display: block;
	color: #fff;
	text-align: center;
	background: linear-gradient(to right, #ff416c, #ff4b2b);
	margin-top: 30px;
	text-decoration: none;
	padding: 10px 5px;
}
.card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 40px -10px rgba(0,0,0,0.25);
}
@media screen and (max-width: 1000px) {
	.card, .card-product {
		width: 40%;
	}
}
@media screen and (max-width: 620px) {
	.card, .card-product {
		width: 80%;
	}
	.product-area {
		width: 100%;
	}
}
ul.about-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about-content li{
	padding: 20px;
	height: 290px;
	background-clip: content-box;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}
.about-left {
	background-image: url('../img/gedung.jpg');
	flex-basis: 40%;
}
.about-right {
	flex-basis: 60%;
}
.about-area p {
	max-width: 800px;
	margin-bottom: 35px;
	line-height: 1.5;
	text-align: left;
	padding-left: 0;
	color: black;
}
.section-title {
	text-transform: uppercase;
	font-size: 50px;
	margin-bottom: 5%;
}
.about-right h2 {
	margin-bottom: 3%;
	color: black;
}
.about-btn {
	padding: 15px 35px;
	background: crimson;
	border-radius: 50px;
	text-transform: uppercase;
	color: #fff;
}
@media (max-width: 1000px) {
	.about-left, .about-right {
		flex-basis: 100%;
	}
	.about-content li {
		padding: 8px;
	}
}
.contact-area {
	background-color: #24252a;
}
.contact-content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.contact-left {
	flex-basis: 50%;
}
.contact-right {
	flex-basis: 50%;
}
.contact-area > .section-title {
	color: white;
}
@media (max-width: 1000px) {
	.contact-left, .contact-right {
		flex-basis: 100%;
	}
	.contact-content li {
		padding: 8px;
	}
}
footer {
	text-align: center;
	color: white;
	background-color: #27283c;
	padding-top: 10px;
	padding-bottom: 10px;
}
@media screen and (max-width: 1000px) {
	body {
		font-size: 15px;
	}
	.section-title {
		font-size: 30px;
	}
}

/* Admin */
.data-table {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
	background-color: red;
}
.title {
	text-align: left;
	padding-left: 5px;
	font-family: 'Montserrat', sans-serif;
}
table {
	margin: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
	font-size: 12px;
	height: 350px;
}
.table-container {
	border-collapse: collapse;
	font-size: 13px;
	width: 70%;
	height: 500px;
	border-spacing: 0;
	border-radius: 12px 12px 0 0;
	box-shadow: 0 5px 5px rgba(32,32,32,0.3);
	overflow: hidden;
	text-align: center;
	margin-bottom: 20px;
}
.table-container th,
.table-container td {
	border-bottom: 1px solid #e1edff;
	border-left: 1px solid #e1edff;
	padding: 7px 17px;
}
.table-container th,
.table-container td:last-child {
	border-right: 1px solid #e1edff;
}
.table-container td:first-child {
	border-bottom: 0;
}
.table-container td:last-child {
	border-bottom: 0;
}
caption {
	caption-side: top;
	margin-bottom: 10px;
}
.table-container thead th {
	background-color: #508abb;
	color: #ffffff;
	border-color: #6ea1cc !important;
	text-transform: uppercase;
}
.table-container tbody td {
	color: #353535;
}
.table-container tbody tr:nth-child(odd) td {
	background-color: #f4fbff;
}
.table-container tbody tr:hover th,
.table-container tbody tr:hover td {
	background-color: grey;
	transition: all .2s;
}
.kategori {
	background-color: white;
	padding: 25px;
	padding-top: 10px;
	margin: 5px;

}
.next {
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
}
.prev {
	margin-bottom: 5px;
}
i {
	padding: 5px;
}
.card-header img {
	width: 140px;
	height: 140px;
}
ul.nav_links li.icon {
	display: none;
}
.search-container {
	float: right;
	margin-bottom: 10px;
}
.search-container input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
}
.search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
	border: none;
	cursor: pointer;
}
@media screen and (max-width: 800px) {
	.search-container {
		float: none;
	}
	.search-container input[type=text] {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	.search-container button {
		float: right;
		display: block;
		text-align: center;
	}
	.search-container input[type=text] {
		border: 1px solid;
	}
}
@media screen and (max-width: 800px) {
	ul.nav_links li {
		display: none;
	}
	ul.nav_links li.icon {
		display: inline-block;
		float: right;
	}
}
@media screen and (max-width: 800px) {
	ul.nav_links.responsive {
		position: relative;
	}
	ul.nav_links.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.nav_links.responsive li {
		float: none;
		display: inline;
	}
	ul.nav_links.responsive li a{
		display: block;
		text-align: left;
	}
}